@import url('./Pages/LoginForm/LoginForm.css');
@import url('./Pages/LoginForm/LoginPage/LoginPage.css');
@import url('./Pages/Layout/LayoutPage.css');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Kanit:wght@300&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('./Pages/MovieDetails/MovieDetails.css');
@import url('./Pages/LandingPage/LandingPage.css');

html,body{
 
font-family: 'Roboto';
    margin: 0;
    padding: 0;
    
}




