.lp-container{
    height: 100vh;
    width: 100vw;
   background-size: cover;
   position: relative;
}
.b-image{
  height: 100%;
  width: 100%;
  position: absolute;
}
.login-form{
    position: absolute;
    top: 20vh;
    right: 10vw;
}




  
  @media (width: 320px) {
    .lp-container {
        height: 100vh;
        width: 100vw;   
    }
    .b-image{
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }
   
  @media (width:400px){
    .lp-container {
      height: 100vh;
      width: 100vw;
     
  }
}
@media (width:425px){
  .lp-container {
    height: 100vh;
    width: 100vw;
    
}
}
@media (width:375px){
  .lp-container {
    height: 100vh;
    width: 100vw;
    
}
}